extends ./layout/index
block Contenido
    main.container.mt-5
        div.row
            div.col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="nosotros") 
            div.col-md-7
                h1.text-md-start.text-center= pagina
                blockquote.fs-6.text-justify Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quisquam quaerat animi iste cum aspernatur provident, quo dignissimos? Architecto quaerat ullam tempora eum pariatur voluptatem magni unde, atque suscipit quibusdam? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                p.fs-6.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ex labore reiciendis culpa adipisci, expedita officia autem quam unde voluptates vero repudiandae dolore necessitatibus, neque quidem iure nemo. Consectetur, laborum?Modi aspernatur doloribus dolore recusandae? Quibusdam doloremque tenetur, debitis et deserunt nam temporibus. Voluptas laborum accusantium esse ullam.
                p.fs-6.text-justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur commodi similique vel aperiam aspernatur, est expedita aliquid. Voluptatibus similique, quisquam cum velit, asperiores corporis sapiente labore ipsum reprehenderit eveniet alias.Non obcaecati dignissimos expedita itaque, quas quis minima neque sunt sapiente aliquid. Excepturi quas unde blanditiis accusamu.

    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                div.col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono-seguridad")     
                    h2.mb-4 Seguridad
                    p.fs-6.text-justify Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, corrupti ab assumenda natus animi dicta aspernatur, in vero error delectus eos! Laudantium laboriosam ratione quis id voluptates, ipsum aspernatur velit.
                div.col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono-seguridad")     
                    h2.mb-4 Destinos Agradables
                    p.fs-6.text-justify Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, corrupti ab assumenda natus animi dicta aspernatur, in vero error delectus eos! Laudantium laboriosam ratione quis id voluptates, ipsum aspernatur velit.                
                div.col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="icono-seguridad")     
                    h2.mb-4 Los Mejores Precios
                    p.fs-6.text-justify Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, corrupti ab assumenda natus animi dicta aspernatur, in vero error delectus eos! Laudantium laboriosam ratione quis id voluptates, ipsum aspernatur velit.