footer.py-5.container 
    div.row
        div.col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link.fs-5(href="/nosotros") Nosotros
                a.nav-link.fs-5(href="/viajes") Viajes
                a.nav-link.fs-5(href="/testimoniales") Testimoniales
        div.col
            p.copyright.text-center.text-md-right.fs-5 
                | Todos los derechos reservados 
                span= añoActual        